<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/assets/sayhello.css" />
</head>
<body>
<p>Hello, Welcome to {{.title}}</p>
{{range $index, $ele := .stuArr }}
<p>学号：{{ $index }} | 姓名：{{ $ele.Name }} | 年龄：{{ $ele.Age }}</p>
{{ end }}
</body>
</html>